.col-md-4
	.col-md-12
		.thumbnail    
			%img{:alt => "", :src => thumbnail_section_gallery_path(id: gallery.id, section_id: gallery.section_id)}
			.caption
				%h5.pull-right.text-muted= gallery.date.to_date
				%h4= gallery.title
	.col-md-12
		.col-md-3
			= link_to 'Edit', edit_admin_section_gallery_path(id: gallery.id, section_id: gallery.section_id)
		.col-md-3
			= link_to 'View', section_gallery_path(id: gallery.id, section_id: gallery.section_id)
		.col-md-6.pull-right
			= button_to 'Delete', admin_section_gallery_path(id: gallery.id, section_id: gallery.section_id), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }