%h2.sub-header Sections list
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Title
        %th
        %th
    %tbody
      - @sections.each do |section| 
        %tr
          %td= section.name
          %td= section.title
          %td= link_to 'Edit', edit_admin_section_path(section)
          %td= button_to 'Delete', admin_section_path(section), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'New section', new_admin_section_path
